/*body {
  background-image: url("https://cdn.pixabay.com/photo/2012/03/03/23/06/wall-21534_960_720.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
}
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
